/*
*
{
   font-family: sans-serif;
}

.inlineBlockForm
{
   display: inline-block;
}

.gameHeader
{
   margin-right: 32px;
}*/

.question
{
   display: none;
}

.boldChoice
{
   font-weight: bold;
}

.redChoice
{
   color: red;
}

.greenChoice
{
   color: green;
}

.waitImg
{
   display: none;
   height: 24px;
   width: 24px;
}
