*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.depend
*.layout
*bin
*obj
*Debug
*Release
*tmp
*packages
/Quiz/VisualStudio/.vs
/Experiments/VisualStudio/.vs
/Shared/*
!/Shared/readme.txt
.directory
*node_modules
*node_modules_vc12
*node_modules_vc14
*.log
/mongo-cxx-driver
*mongo-cxx-driver_vc12
*mongo-cxx-driver_vc14
*.exe
*InfoKml_Output
*.ttf
Map/NodeJS/map_server/*.png
Experiments/png++/PngExperiment/*.png
Map/NodeJS/*.png
Map/VisualStudio/MapServer/*.png
Map/NodeJS/*.svg
Map/VisualStudio/MapServer/*.svg
Map/NodeJS/log.txt
Quiz/NodeJS/public/*.min.js
Quiz/NodeJS/public/*.min.css
Quiz/NodeJS/public/map_api.js
MongoDB.*.dll
/Experiments/Aurelia
/Experiments/React
/Quiz/React/quiz/build
/Quiz/React/quiz/public/jquery.min.js
/Quiz/React/quiz/public/map_api.js
/Quiz/NodeJS/public/static
/Quiz/NodeJS/views/reactIndex.ejs
/Quiz/NodeJS/views/quiz.ejs
*.userprefs
*UserPrefs.xml
*generated_code
*gmon.out
*XmlQuizData.cs
*XmlMapData.cs