*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.depend
*.layout
*bin
*obj
*Debug
*Release
*tmp
*packages
/Quiz/VisualStudio/.vs
/Experiments/VisualStudio/.vs
/Shared/*
!/Shared/readme.txt
.directory
*node_modules
*node_modules_vc12
*node_modules_vc14
*.log
/mongo-cxx-driver
*mongo-cxx-driver_vc12
*mongo-cxx-driver_vc14
*.exe
*InfoKml_Output
*.ttf
Map/NodeJS/map_server/*.png
Experiments/png++/PngExperiment/*.png
Map/NodeJS/*.png
Map/VisualStudio/MapServer/*.png