*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.depend
*.layout
*bin
*obj
*Debug
*Release
*tmp
*packages
/Quiz/VisualStudio/.vs
/Experiments/VisualStudio/.vs
/Shared/*
!/Shared/readme.txt
.directory
*node_modules
*.log
/mongo-cxx-driver
*mongo-cxx-driver_vc12
*.exe
*InfoKml_Output