<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="styles.css"/>
      <title>Quiz</title>
   </head>

   <body>
      <select id="questionnaireSelect">
         <option id="q1">Questionnaire 1</option>
         <option id="q2">Questionnaire 2</option>
      </select>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="index.js"></script>
   </body>
</html>