<form class="form-inline" id="siteLanguageForm" action="/" method="post">
   <select class="form-control input-sm" id="siteLanguageSelect" name="siteLanguageSelect" form="siteLanguageForm">
      <% data.siteLanguageList.forEach(function(language) { 
         if (language.id == data.siteLanguageId) { %>
         <option selected value="<%= language.id %>">
         <%  } else { %>
         <option value="<%= language.id %>"> <% } %>
            <%= language.name %>
         </option>
      <% }); %>
   </select>
</form>
