<select id="siteLanguageSelect">
   <% data.siteLanguageList.forEach(function(language) { 
      if (language.id == data.siteLanguageId) { %>
      <option selected value="<%= language.id %>">
      <%  } else { %>
      <option value="<%= language.id %>"> <% } %>
         <%= language.name %>
      </option>
   <% }); %>
</select>