<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="styles.css"/>
      <title><%=data.texts.signUp%></title>
   </head>

   <body>
      
   </body>
</html>