canvas
{
  border: 1px solid black;
}

svg
{
  border: 1px solid blue;
}

canvas, svg, div
{
   display: inline-block;
   vertical-align: top;
}

button
{
   margin-top: 8px;
}

#elementList
{
   width: 200px; 
   overflow: auto;
}